# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv/
venv/
ENV/
env/

# Database
*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-shm
*.db-wal

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environment & Secrets
.env
.env.*
!.env.example
spec/

# Notebooks
.ipynb_checkpoints/

# Logs
*.log

# IDEs & System
.vscode/
.idea/
.DS_Store
.AppleDouble
.LSOverride
Icon
Network Trash Folder
Temporary Items
.apdisk
